.su{
	height: 500px;
	width: 800px;
	background-color: black;
}
.dha{
	height: 250px;
	width: 800px;
	background-color: black;
	
}
.pa{
	height: 200px;
	width: 800px;
	background-color: black;
	
}
.img1{
	height:200px;
	width: 800px;
}
.img2{
	height:150px;
	width: 200px;
	margin-left: 30px;
}
.img3{
	height:150px;
	width: 200px;
	margin-left: 30px;
}
.img4{
	height:150px;
	width: 200px;
	margin-left: 30px;
}
.sr{
	height: 250px;
	width: 800px;
	background-color: pink;
}
.sa{
	height:200px;
	width:200px;
	background-color: white;
	float: left;
	margin-left: 30px;
	padding-top: 100px;
}
.tya{
	height:150px;
	width:200px;
	background-color: white;
	float: left;
	margin-left: 35px;
	padding-top: 100px;

}
.ma{
	height:150px;
	width:200px;
	background-color: white;
	float: left;
	margin-left: 35px;
	padding-top: 100px;
}
.bh{
	height: 600px;
	width: 800px;
	background-color: black;
}
.anu{
	height: 100px;
	width: 800px;
	background-color: white;
}
.ra{
	height: 400px;
	width: 800px;
	background-color: pink;
}
.dha{
	height: 100px;
	width: 800px;
	background-color: black;
}
